
body, html {
    margin: 0;
    padding: 0;
    background-image: url('assets/hot.jpg');
    background-size: cover;
    background-position: 100% 30%;
    height: 100%;
    width: 100%;
}

.master-container{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;

}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#textInHeader,
#centerScreen
{
    font-family: "Spirax", sans-serif;

}

#textInHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(1em, 4em));
    color: white;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
#centerScreen
{
    text-align: center;
    font-size: 7em;
    margin-bottom: 100px;
    padding: 10px;
    font-weight: bold;
    color: rgb(141, 0 ,1);

}

