
body, html {
    margin: 0;
    padding: 0;
    background-image: url('assets/hot.jpg');
    background-size: cover;
    background-position: 100% 30%;
    height: 100%;
    width: 100%;
}

.master-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 0.5fr);

}

.header-container {
    display: grid;
    justify-content: center;
    grid-column: 1 / span 5;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80%;

}

#textInHeader,
#centerScreen {
    font-family: "Spirax", sans-serif;

}

#textInHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(1em, 4em));
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

#centerScreen {
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 2;
    font-size: 90px;
    margin-bottom: 100px;
    font-weight: bold;
    color: rgb(141, 0, 1);
    text-align: center;
}

.redBar-container {
    font-family: "Poiret One", sans-serif;
    display: grid;
    grid-column: 1/span4;
    grid-row: 3;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 20px;
    font-size: 30px;

}

.redBar {
    background-color: rgba(115, 3, 6, 0.5);
    padding: 10px;
    color: white;
    align-items: center;
    margin-right: -200px;
}

.redBar:first-child {
    justify-self: end;
    grid-area: 1/1;

}

.redBar:nth-child(2) {

    justify-self: start;
    grid-area: 2/2;

}

#menu {
    display: grid;
    grid-column: 2/span 2;
    grid-row: 4;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 20px;


}

#menu li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.price {
    text-align: right;
}
