body {
    margin: 0;
    background-image: url('assets/hot.jpg');
    background-size: cover;
    background-position: 100% 30%;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#textInHeader,
#titelWord {
    font-family: "Spirax", sans-serif;

}

.redBar-container,
#menu {
    font-family: "Poiret One", sans-serif;
}

#textInHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(1em, 4em));
    color: white;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.titel-container {
    display: flex;
    justify-content: center;
}

#titelWord {
    font-size: 90px;
    margin: 10px;
    font-weight: bold;
    color: rgb(141, 0, 1);
}

.redBar-container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 20px;
    font-size: 30px;
    margin: 10px;
}

.redBar {
    background-color: rgba(115, 3, 6, 0.5);
    padding: 10px;
    color: white;
    align-items: center;
}

.redBar:first-child {
    justify-self: end;
    grid-area: 1/1;
}

.redBar:nth-child(2) {
    justify-self: start;
    grid-area: 2/2;
}

.menu-container {
    display: flex;
    justify-content: center;
}

#menu {
    display: grid;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 10px;
    width: 50%;
    height: 50%;
    padding-right: 40px;
    font-size: 30px;
}

#menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;
}

.price {
    text-align: right;
}
